include _common/variables
include _common/mixin

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
		block title
			title Заголовок по умолчанию
		link(rel="stylesheet" href="css/main.css")
		<!--[if lt IE 9]>
			<script src="/js/html5shiv.min.js"></script>
		<![endif]-->
	body
		block header
			include _common/header
		block main
			include _common/main
		block footer
			include _common/footer
//-		script(src="js/main.js")
	