extends ../layout

block title
	title Главная страница продукта

block header
	header.header
		.container(class='clearfix')
			.row(class='clearfix')
				.logo
					a.logo__link(href='#')
						span.firstParth Yok
						span.secondParth Ngalam
				.avatar
					a.avatar__link(href='#')
						img.avatar__img(src='images/avatar.jpg' alt='Семен Семеныч')
				+header_menu
			h1.head 
				span.first LETS 
				span.second GET LOST
			.slogan
				.string Malang will never dissapointed you.
				.string.
					From every step you took you will be amazed and suddenly fallin love with Malang
			.button SET ITTINERY NOW
block main
	main.main
		section.about
			.container(class='clearfix')
				.row.downOverMounth(class='clearfix')
				.row(class='clearfix')
					.about__description
						h2.about__head 
							span.first City 
							span.second of Love
						.about__text.
							Malang is the second largest city in East Java province, Indonesia. It has a history dating back to the ancient Mataram Kingdom. The city is famous for its cool temperature. People in East Java sometimes call it "Paris of East Java.
					.about__blockImg
						img.about__img(src='images/cityoflove.svg')
		section.destination
			.container(class='clearfix')
				.row(class='clearfix')
					.destination__description
						h2.destination__head 
							span.first Des
							span.second tination
						.destination__text.
							Being around by many mountain, Malang not only came with mountain vacation, but our beach, cultural spot, and Human Interest is worth to experienced.
					.destination__regulation see basic regulation
				.row(class='clearfix')
					input.destination__search(type='text' placeholder='search destination')
					.destination__allPlace 
						span.first ALL PLACE&emsp;/&emsp;
						span.second RECOMENDED PLACE
				.row(class='clearfix')
					article.destination__article
						.destination__blockImg
							img.destination__img
						.destination__aboutPlace
							.destination__aboutPlace__head Batu
								.destination__aboutPlace__text
									p.destination__aboutPlace__parth
										| is a city located in East Java Province of Indonesia. It is situated about 20 km to the northwest of Malang. Formerly, it was a part of Malang Regency; but in 2001, Batu became an independent city.
									p.destination__aboutPlace__parth
										| A population of 190,000 people, it lies on the southern slopes of Gunung Welirang. Its population largely consists of Javanese.






