- 
	var listInHeader = {id1:"Put on this page information about your product",id2:"A detailed description of your product",id3:"Tell us about the advantages and merits",id4:"Associate the page with the payment system"}
- 
	var social= {'tweeter.org':'tw','facebook.com':'fb','linkedin':'linked','google.com':'google','youtube.com':'yt'}