- 
	var listInHeader = {about:"Лучший атмосферный слой",productPlus:"Сплошные плюсы и бонусы",description:"Коротко о главном",reviews:"Отзывы"}
- 
	var social= {'tweeter.org':'tw','facebook.com':'fb','linkedin':'linked','google.com':'google','youtube.com':'yt'}