body {
	font-family: 'Lato';
	color: $gray;
}
%clearfix {
	&.clearfix:before,
	&.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
	}

	&.clearfix:after {
	    clear: both;
	}
}
%firstSecond {
	.first {
		color: $green;
		transition: all 1s;
	}
	.second {
		color: $darkgreen;
		transition: all 1s;
	}
	&:hover {
		.first {
			color:  $darkgreen;
		}
		.second {
			color: $green;
		}
	}
}
.container {
	box-sizing: border-box;
	max-width: 1290px;
	padding: 0 60px;
	margin: 0 auto;
	color: $darkblue;
	@extend %clearfix;
	.row {
		@extend %clearfix;
	}
}
.header, 
.about, 
.destination, 
.setIttinery, 
.contact, 
.keepintouch, 
.footer {
	min-width: 1170px;
	@media screen and (max-width: 992px) {
		min-width: 749px;
	}
	@media screen and (max-width:749px) {
		min-width: 500px;
	}
	@media screen and (max-width:401px) {
		min-width: 399px;
	}
}