@mixin contacts($contacts) {
	$posy : 0px;
	@each $contact in $contacts {
		.contacts_#{$contact} {
			background: url("../images/contacts.png") 0 #{$posy} no-repeat;
			@if $contact == email {
				cursor: pointer;
			}
			$posy : $posy - 34;
			@debug $posy;
			&:hover {
				color: #09f2fa;
				background: url("../images/contacts.png") 0 #{$posy - 102} no-repeat;
			}
			&:hover .contacts__link{
				color: #09f2fa;
			}
		}
	}
}
@mixin social($socials) {
	$posx : 0px;
	$posy : 44px;
	@each $social in $socials {
		.contacts__link_#{$social} {
			background: url("../images/icons.png") #{$posx} 0 no-repeat;
			&:hover {
			background: url("../images/icons.png") #{$posx} -45px no-repeat;
			}
		}
		$posx: $posx - 48;
		@debug $posx;

	}
}

@mixin transform($ref) {
	-web-kit-transform: $ref;
	-moz-transform: $ref;
	-ms-transform: $ref;
	-o-transform: $ref;
	transform: $ref;
}